@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FBF7ED;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.font-style {
    font-family: 'Pacifico', cursive !important;
    color: #656565;
    font-weight: 400;
    font-size: 22px;
    position: relative;
    text-transform: capitalize;

}

.demo-img:hover {
    transition: .5s ease-in-out;
    transform: scale(1.1);
}

.template-bg {
    background-image: url("/src/Assets/email-bg.png");
}

.feature-img {
    filter: grayscale(100%);
    transition: 0.5s ease-in-out;
}

.feature-img:hover {
    filter: grayscale(0%);
}